/* COULD BE USEFUL */
/* https://codepen.io/Rameme/pen/yLvLbGd */

/* Card */ 
.card-container{
  position: relative;
}

/* Card */
.card-container .card{
  position: relative;
  width: 315px;
  height: 450px;
  background-color: rgb(10, 10, 10);
  border-radius: 20px;
  overflow: hidden;
}

/* Card Animation */
.card-container .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #288bdc;
  clip-path: circle(150px at 80% 5%);
  transition: 0.5s ease-in-out;
}

.card-container .card:hover:before{
  clip-path: circle(300px at 50% -20%);
}

/* Image animation */
.card-container .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.1s;
}

.card-container .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
}

.card-container .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
}

/* Card Description */
.card-container .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 0.5s;
  z-index: 10;
}

.card-container .card:hover .contentBx{
  height: 210px;
}

/* Card Title */
.card-container .card .contentBx h2{
  font-family: 'Roboto', sans-serif;
  position: relative;
  font-weight: 300;
  letter-spacing: 1px;
  color: #ffffff;
  margin: 0;
}

.card-container .card .contentBx .desc, .card-container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

/* Text */
.card-container .card:hover .contentBx .desc{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.1s;
}

/* Card Description */
.card-container .card .contentBx h3, .card-container .card .contentBx h3{
  font-family: 'Roboto', sans-serif;
  margin-top: 12px;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 2px;
  margin-right: 10px;
}

/* Button */
.card-container .card .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.1s;
  margin-top: 20px;
}

.card-container .card:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
}

/* Other Projects*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}

.container-project {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  /* background-color: rgba(240, 240, 240, 1); */
  background-color: rgb(10, 10, 10);
  color: #cccaca;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 100%;
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.tag-teal {
  background-color: #47bcd4;
}

.tag-purple {
  background-color: #5e76bf;
}

.tag-pink {
  background-color: #cd5b9f;
}

.card-body ul {
  font-size: 13px;
  margin: 0 0 20px;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}

.user-info h5 {
  margin: 0;
}

.user-info small {
  color: #8e9294;
}