<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    
    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/projects.css">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Radio+Canada:wght@700&display=swap" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <!-- Icon -->
    <link rel="icon" type="image/x-icon" href="../assets/logo/logo.svg">

    <title>Ramim Alam</title>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

  </head>
  <body>

    <!-- Navbar -->
    <div id="nav-placeholder"> </div>
    <script>
      $(function(){
        $("#nav-placeholder").load("/template/nav.html");
      });
      </script>
    <!--end of Navigation bar-->

    <!-- About -->
    <section class="py-5 mt-5">
      <div class="container text-white">
        <h2 class="fw-light display-3 font-2">About me</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi officiis
          blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione cumque magnam enim fugiat
          reprehenderit expedita.</p>
      </div>

      <div class="container mt-5">
        <div class="card">
          <div class="img-avatar"> </div>
          
          <div class="card-text">
            <div class="portada"></div>
              <div class="title-total">
                <div class="title">Software Engineer</div>
                <h2>Ramim Alam</h2>
                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget dolor morbi non arcu risus quis varius quam quisque.</div>
                <div class="actions">
                  <button><i class="bi bi-linkedin"></i></button>
                  <button><i class="bi bi-github"></i></i></button>
                  <button><i class="bi bi-person-fill"></i></button>
                </div>
              </div>
          </div>
                
        </div>
      </div>
    
    </section>

    <!-- Footer -->
    <div id="footer-placeholder">
      <script>
        $(function(){
          $("#footer-placeholder").load("/template/footer.html");
        });
        </script>
      <!--end of Footerr-->
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>