<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    
    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Radio+Canada:wght@700&display=swap" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <!-- Icon -->
    <!-- CHANGE: change to your own website icon -->
    <link rel="icon" type="image/x-icon" href="../assets/logo/logo-icon.svg">

    <title>About</title>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

  </head>

  <body>

    <!-- Navbar -->
    <!-- CHANGE: Change "background-color" to fit your video. By default it is set to transparent  -->
    <nav class="navbar navbar-expand navbar-dark fixed-top" style="background-color: #00000000;">
      <div class="container-fluid">

        <!-- CHANGE: change to your own logo -->
        <a class="navbar-brand" href="../index.html">
          <img src="../assets/logo/logo-white.svg" alt="R logo" width="30" height="24">
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="projects.html">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="portfolio.html">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
    <!--end of Navigation bar-->

    <!-- About -->
    <section>
      <div class="container text-white mt-5 pt-5">
        <h2 class="fw-light display-3 font-2">About me</h2>
        <!-- CHANGE: Write a short description about yourself or remove this paragraph  -->
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </div>

      <div class="container mt-5">
        <div class="card">
          <div class="img-avatar"> </div>
          
          <div class="card-text">
            <div class="portada"></div>
              <div class="title-total">

                <!-- CHANGE: Update to your role -->
                <div class="title">Software Engineer</div>

                <!-- CHANGE: Change to your role -->
                <h2>Ramim Alam</h2>

                <!-- CHANGE: Write a short description about yourself -->
                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Turpis egestas integer eget aliquet nibh praesent tristique magna sit. </div>
                
                <!-- CHANGE: Update links to your social media -->
                <div class="actions">
                  <button onclick="location.href='https://www.linkedin.com/in/ramim-alam/'"><i class="bi bi-linkedin"></i></button>
                  <button onclick="location.href='https://github.com/rameme'"><i class="bi bi-github"></i></i></button>
                  <button onclick="location.href='https://github.com/rameme/resume-website-template'"><i class="bi bi-code-slash"></i></i></button>
                </div>
              </div>
          </div>
                
        </div>
      </div>
          
    </section>
    

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>