<!DOCTYPE html>
<html lang="en">
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand navbar-dark fixed-top" style="background-color: #0c042c;">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html"> 
            <img src="../assets/logo/logo-white.svg" alt="R logo" width="30" height="24">
          </a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="projects.html">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
              </li>
            </ul>
          </div>
  
        </div>
    </nav>
</body>
</html>