<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    
    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/projects.css">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Radio+Canada:wght@700&display=swap" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <!-- Icon -->
    <!-- CHANGE: change to your own website icon -->
    <link rel="icon" type="image/x-icon" href="../assets/logo/logo-icon.svg">

    <title>Projects</title>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

  </head>
  <body>

    <!-- Navbar -->
    <!-- CHANGE: Change "background-color" to fit your video. By default it is set to transparent  -->
    <nav class="navbar navbar-expand navbar-dark fixed-top" style="background-color: #00000000;">
      <div class="container-fluid">

        <!-- CHANGE: change to your own logo -->
        <a class="navbar-brand" href="../index.html"> 
          <img src="../assets/logo/logo-white.svg" alt="R logo" width="30" height="24">
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="projects.html">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="portfolio.html">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
    <!--end of Navigation bar-->

    <!-- Portfolio -->
    <section class="text-white w-100 mb-5 mt-5 pt-5">
      <div class="container">

        <!-- CHANGE: Change the name of the section and write your own description -->
        <h2 class="fw-light display-3">Your Work</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>

      <!-- CHANGE: Change to your images -->
      <div class="container">
        <div class="grid-wrapper">
          <div class="tall">
            <img onclick="location.href='https://unsplash.com/photos/H3qf50nPY70'" src="https://images.unsplash.com/photo-1642175068702-7e2b5dc9921b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="" />
          </div>
          <div class="tall">
            <img onclick="location.href='https://unsplash.com/photos/A9PpqJWbftM'" src="https://images.unsplash.com/photo-1654767619105-a623468e04dd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="" />
          </div>
          <div class="wide tall">
            <img onclick="location.href='https://unsplash.com/photos/SVl6aRO-VPo'" src="https://images.unsplash.com/photo-1654763000666-e198fdaf9ca0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="" />
          </div>
        </div>

        <div class="grid-wrapper pt-2">
          <div class="tall">
            <img onclick="location.href='https://unsplash.com/photos/ZckE4hFHVjA'" src="https://images.unsplash.com/photo-1654785009042-1490ef1c876a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="" />
          </div>
          <div class="wide tall">
            <img onclick="location.href='https://unsplash.com/photos/4tNSamUThkk'" src="https://images.unsplash.com/photo-1654729690055-701064a85144?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="" />
          </div>
          <div class="wide tall">
            <img onclick="location.href='https://unsplash.com/photos/W-ppBwJZSV8'" src="https://images.unsplash.com/photo-1654737178110-977669b9bcdc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80" alt="" />
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>