<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    
    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/projects.css">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Radio+Canada:wght@700&display=swap" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <!-- Icon -->
    <link rel="icon" type="image/x-icon" href="../assets/logo/logo.svg">

    <title>Projects</title>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

  </head>
  <body>

    <!-- Navbar -->
    <div id="nav-placeholder"> </div>
    <script>
      $(function(){
        $("#nav-placeholder").load("/template/nav.html");
      });
      </script>
    <!--end of Navigation bar-->

    <!-- Featured Project -->
    <section class="pt-5 mt-5 text-white w-100">
      <div class="container">
        <h2 class="fw-light display-3">Featured Projects</h2>
      </div>
    </section>

    <div class="container mb-5 text-white">
      <div class="row align-items-center">

        <div class="col mx-auto">
          <div class="card-container d-flex justify-content-center flex-nowrap">
            <div class="card">

              <div class="imgBx">
                <img src="/assets/logo/block-picker.svg">
              </div>

              <div class="contentBx">
                <h2>Block Picker</h2>

                <div class="desc">
                  <h3>Block picker is an android application that help you create color palettes using Minecraft blocks.</h3>
                </div>
                
                <a href="https://github.com/rameme/block-picker">View on Github</a>
              </div>

            </div>
          </div>
        </div>

        <div class="col mx-auto">
          <div class="card-container d-flex justify-content-center flex-nowrap mb-5 mt-5">
            <div class="card">

              <div class="imgBx">
                <img src="/assets/logo/rePhoto.svg">
              </div>

              <div class="contentBx">
                <h2>rePhoto</h2>

                <div class="desc">
                  <h3>rePhoto is a website that makes it eaiser to align and take pictures of a places or objects.</h3>
                </div>
                
                <a href="https://github.com/Project-rePhoto/rePhoto">View on Github</a>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Project -->
    <section class="text-white">
      <div class="container">
        <h2 class="fw-light display-3">Projects</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi officiis
          blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione cumque magnam enim fugiat
          reprehenderit expedita.</p>
      </div>
    </section>

    <div class="container mb-5">

      <div class="container-project">

        <div class="card">
          <div class="card-header">
          </div>
          <div class="card-body">
            <span class="tag tag-teal mb-1">Full Stack</span>
            <h4>
              Graduation Application System, Team of 5
            </h4>
            <div class="project-info">
              Full-stack University Admission/Graduation Application
              <ul>
                <li>Designed and implemented a full stack application- used HTML/CSS & JavaScript for front end, PHP for application
                  server, MySQL for DBMS backend, and AWS to host the development environment.</li>
                <li>On Phase I, designed a database system to allow students to register and apply for graduate school. Created a Faculty
                  portal to allow staff to review student application, assign advisors, and admit students.</li>
                <li>On Phase II, integrated graduate application system with course registration. Using the system, a graduate student
                  can apply for a degree, Faculty can admit students, admitted students can Register for classes, and professors can
                  assign.</li>
              </ul>
            </div>
            <div class="user">
              <div class="user-info">
                <h5>March – June 2020</h5>
                <small>Database Systems</small>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
          </div>
          <div class="card-body">
            <span class="tag tag-purple mb-1">C, UNIX</span>
            <h4>
              DockV6, Team of 3 
            </h4>
            <div class="project-info">
              Allow multi-threading in UNIX Operating System
              <ul>
                <li>Implemented blocking mutexes and condition variables to provide synchronization between shared buffer.</li>
              </ul>
            </div>
            <div class="user">
              <div class="user-info">
                <h5>November – December 2020</h5>
                <small>Operating Systems</small>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-header">
          </div>
          <div class="card-body">
            <span class="tag tag-pink mb-1">Computer Architecture</span>
            <h4>
              Processor Design, Team of 3
            </h4>
            <div class="project-info">
              Allow multi-threading in UNIX Operating System
              <ul>
                <li>Designed a subset of microarchitecture- datapath and control signal for a simple processor based off LC3 using
                  CedarLogic- a digital logic simulator</li>
                <li>Processor specification: has four, 8-bit register; all data types are 2’s complement integers; has a RAM with
                  addressability of 8 bits and address space of 256; the processor has 5 instruction (opcodes): LOAD, STORE, AND, ADD,
                  and BRnpz. </li>
              </ul>
            </div>
            <div class="user">
              <div class="user-info">
                <h5>September – October 2019</h5>
                <small>Computer Architecture</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <!-- Footer -->
    <div id="footer-placeholder">
      <script>
        $(function(){
          $("#footer-placeholder").load("/template/footer.html");
        });
        </script>
      <!--end of Footerr-->
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>