.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url(../img/shapelined-_JBKdviweXI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

/* Navbar Background color */
.navbar-custom {
  background-color: #D9D9D9;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
}
